# Mac OS X
*.DS_Store

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

build
# Android Studio
.idea/assetWizardSettings.xml
.idea/caches
.idea/gradle.xml
.idea/modules.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/libraries
.idea/markdown*

.settings
.gradle
/*/local.properties
/*/out
**/build
/*/*/production
*.iml
*.ipr
*~
*.swp
